{% include "layout/sidebar/dashboard_links.html" %}

{% if active_module == 'structure' %}
  {% include "layout/sidebar/module_structure.html" %}
{% elif active_module == 'maquette' %}
  {% include "layout/sidebar/module_maquette.html" %}
{% elif active_module == 'students' %}
  {% include "layout/sidebar/module_students.html" %}
{% elif active_module == 'evaluations' %}
  {% include "layout/sidebar/module_evaluations.html" %}
{% elif active_module == 'deliberations' %}
  {% include "layout/sidebar/module_deliberations.html" %}
{% elif active_module == 'prestation' %}
  {% include "layout/sidebar/module_prestation.html" %}
{% elif active_module == 'finance' %}
  {% include "layout/sidebar/module_finance.html" %}
{% elif active_module == 'cards' %}
  {% include "layout/sidebar/module_cards.html" %}
{% elif active_module == 'projets' %}
  {% include "layout/sidebar/module_projets.html" %}
{% elif active_module == 'documents' %}
  {% include "layout/sidebar/module_documents.html" %}
{% elif active_module == 'bibliotheque' %}
  {% include "layout/sidebar/module_bibliotheque.html" %}
{% elif active_module == 'formation_continue' %}
  {% include "layout/sidebar/module_formation_continue.html" %}
{% elif active_module == 'admin' %}
  {# Administration Django : lien ci-dessous #}
{% endif %}

{% if active_module == 'admin' or not active_module %}
  {% include "layout/sidebar/admin_link.html" %}
{% endif %}
