{% extends "components/ecore_form_base.html" %}
{% load static %}

{% block form_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"><i data-feather="home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'students:type_document_list' %}">Éléments du dossier</a></li>
<li class="breadcrumb-item f-w-400 active">{{ title }}</li>
{% endblock %}

{% block form_id %}type-document-form{% endblock %}

{% block form_extra_notices %}

{% endblock %}

{% block form_before_fields %}

{% endblock %}

{% block form_main_col %}col-lg-8{% endblock %}

{% block form_main %}
{% include "components/ecore_form_section_open.html" with icon="fa-tag" title="Identification" subtitle="Code et nom du type" %}
<div class="row g-3">
  {% include "components/ecore_form_field.html" with field=form.code col="col-md-4" icon="fa-hashtag" required=True %}
  {% include "components/ecore_form_field.html" with field=form.nom col="col-md-8" icon="fa-font" required=True %}
</div>
{% include "components/ecore_form_section_close.html" %}
{% include "components/ecore_form_section_open.html" with icon="fa-sort-numeric-asc" title="Affichage" subtitle="Ordre dans la checklist dossier" %}
{% include "components/ecore_form_field.html" with field=form.ordre col="col-md-4" icon="fa-sort-numeric-asc" %}
{% include "components/ecore_form_section_close.html" %}
{% include "components/ecore_form_section_open.html" with icon="fa-align-left" title="Description" subtitle="Précisions pour l'agent" section_class="mb-0" %}
{% include "components/ecore_form_field.html" with field=form.description col="col-12" %}
{% include "components/ecore_form_section_close.html" %}
{% endblock %}

{% block form_actions %}
{% url 'students:type_document_list' as cancel_url %}
{% include "components/form_actions.html" with cancel_url=cancel_url %}
{% endblock %}

{% block form_aside %}
{% include "components/ecore_form_aside_switch.html" with field=form.obligatoire title="Élément obligatoire" hint="Requis pour un dossier complet" %}
{% include "components/ecore_form_aside_switch.html" with field=form.active title="Élément actif" hint="Proposé dans les dossiers" %}
{% include "components/ecore_form_aside_tips.html" with tip1="L'ordre contrôle l'affichage dans le dossier" tip2="Obligatoire = compte pour le statut Complet" tip3="Un type inactif disparaît des checklists" %}
{% endblock %}
{% block form_extra_js %}

{% endblock %}
