<div class="ecore-form-aside-card">
  <h6><i class="fa fa-info-circle me-1"></i> Bon à savoir</h6>
  <ul class="ecore-form-tips list-unstyled mb-0">
    {% if tip1 %}<li><i class="fa fa-check text-primary"></i> {{ tip1 }}</li>{% endif %}
    {% if tip2 %}<li><i class="fa fa-check text-primary"></i> {{ tip2 }}</li>{% endif %}
    {% if tip3 %}<li><i class="fa fa-check text-primary"></i> {{ tip3 }}</li>{% endif %}
    {% if tip4 %}<li><i class="fa fa-check text-primary"></i> {{ tip4 }}</li>{% endif %}
  </ul>
</div>
