{% extends "components/ecore_form_base.html" %}
{% block form_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"><i data-feather="home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'formation_continue:accueil' %}">Formation continue</a></li>
<li class="breadcrumb-item"><a href="{% url 'formation_continue:module_list' %}">Modules</a></li>
<li class="breadcrumb-item f-w-400 active">{{ title }}</li>
{% endblock %}
{% block form_page_subtitle %}Module de formation aux TIC{% endblock %}
{% block form_id %}module-form{% endblock %}
{% block form_main_col %}col-lg-8{% endblock %}
{% block form_main %}
{% include "components/ecore_form_section_open.html" with icon="fa-laptop" title="Module" subtitle="Identification" section_class="ecore-form-section-compact" %}
<div class="row g-3">
  {% include "components/ecore_form_field.html" with field=form.code col="col-md-4" icon="fa-barcode" required=True %}
  {% include "components/ecore_form_field.html" with field=form.intitule col="col-md-8" icon="fa-font" required=True %}
  {% include "components/ecore_form_field.html" with field=form.duree_heures col="col-md-4" icon="fa-clock-o" %}
  {% include "components/ecore_form_field.html" with field=form.description col="col-12" icon="fa-align-left" %}
  <div class="col-12"><div class="form-check">{{ form.active }} <label class="form-check-label" for="{{ form.active.id_for_label }}">{{ form.active.label }}</label></div></div>
</div>
{% include "components/ecore_form_section_close.html" %}
{% endblock %}
{% block form_actions %}
{% url 'formation_continue:module_list' as cancel_url %}
{% include "components/form_actions.html" with cancel_url=cancel_url %}
{% endblock %}
