{% extends "components/ecore_form_base.html" %}
{% block form_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"><i data-feather="home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'formation_continue:accueil' %}">Formation continue</a></li>
<li class="breadcrumb-item"><a href="{% url 'formation_continue:offre_list' %}">Planification</a></li>
<li class="breadcrumb-item f-w-400 active">{{ title }}</li>
{% endblock %}
{% block form_page_subtitle %}Associer un module et un formateur à une session{% endblock %}
{% block form_id %}offre-form{% endblock %}
{% block form_main_col %}col-lg-8{% endblock %}
{% block form_main %}
{% include "components/ecore_form_section_open.html" with icon="fa-sitemap" title="Affectation" subtitle="" section_class="ecore-form-section-compact" %}
<div class="row g-3">
  {% include "components/ecore_form_field.html" with field=form.session col="col-md-12" icon="fa-calendar" required=True %}
  {% include "components/ecore_form_field.html" with field=form.module col="col-md-6" icon="fa-laptop" required=True %}
  {% include "components/ecore_form_field.html" with field=form.formateur col="col-md-6" icon="fa-user" required=True %}
  {% include "components/ecore_form_field.html" with field=form.date_debut col="col-md-6" icon="fa-play" %}
  {% include "components/ecore_form_field.html" with field=form.date_fin col="col-md-6" icon="fa-stop" %}
</div>
{% include "components/ecore_form_section_close.html" %}
{% endblock %}
{% block form_actions %}
{% url 'formation_continue:offre_list' as cancel_url %}
{% include "components/form_actions.html" with cancel_url=cancel_url %}
{% endblock %}
