{% extends "layout/master.html" %}

{% block title %}Supprimer prestation - e-Core{% endblock %}

{% block page_title %}Supprimer prestation{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            {% include "components/page_toolbar.html" with toolbar_title="Confirmer la suppression" toolbar_subtitle="Cette action est irréversible" %}
            <div class="card-body">
                {% include "components/messages.html" %}

                <p>Voulez-vous vraiment supprimer la prestation du <strong>{{ prestation.date_prestation|date:"d/m/Y" }}</strong> pour <strong>{{ prestation.personnel }}</strong> ?</p>
                <form method="post">
                    {% csrf_token %}
                    {% url 'prestation:prestation_list' as cancel_url %}
                    {% include "components/form_actions.html" with cancel_url=cancel_url submit_label="Supprimer" submit_class="btn-danger" submit_icon="fa-trash" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
