{% load perm_tags %}
<li class="sidebar-list">
    <a class="sidebar-link sidebar-title" href="#">
        <i class="fa fa-graduation-cap"></i>
        <span>Formation continue</span>
        <div class="according-menu"><i class="fa fa-angle-right"></i></div>
    </a>
    <ul class="sidebar-submenu">
        <li><a href="{% url 'formation_continue:accueil' %}">Accueil module</a></li>
        {% has_perm 'formation_continue.view_seminariste' as p_sem %}
        {% if p_sem or user.is_superuser %}
        <li><a href="{% url 'formation_continue:seminariste_list' %}">Séminaristes</a></li>
        {% endif %}
        {% has_perm 'formation_continue.view_sessionformation' as p_sess %}
        {% if p_sess or user.is_superuser %}
        <li><a href="{% url 'formation_continue:session_list' %}">Sessions</a></li>
        <li><a href="{% url 'formation_continue:cloture_session_list' %}">Clôture session</a></li>
        {% endif %}
        {% has_perm 'formation_continue.view_moduletic' as p_mod %}
        {% if p_mod or user.is_superuser %}
        <li><a href="{% url 'formation_continue:module_list' %}">Modules TIC</a></li>
        {% endif %}
        {% has_perm 'formation_continue.view_formateur' as p_form %}
        {% if p_form or user.is_superuser %}
        <li><a href="{% url 'formation_continue:formateur_list' %}">Formateurs</a></li>
        {% endif %}
        {% has_perm 'formation_continue.view_offremodule' as p_offre %}
        {% if p_offre or user.is_superuser %}
        <li><a href="{% url 'formation_continue:offre_list' %}">Planification</a></li>
        {% endif %}
        {% has_perm 'formation_continue.view_inscription' as p_ins %}
        {% if p_ins or user.is_superuser %}
        <li><a href="{% url 'formation_continue:inscription_list' %}">Inscriptions</a></li>
        {% endif %}
        {% has_perm 'formation_continue.view_presence' as p_pres %}
        {% if p_pres or user.is_superuser %}
        <li><a href="{% url 'formation_continue:presence_list' %}">Présences</a></li>
        {% endif %}
        {% has_perm 'formation_continue.view_brevet' as p_brev %}
        {% if p_brev or user.is_superuser %}
        <li><a href="{% url 'formation_continue:brevet_list' %}">Brevets</a></li>
        {% endif %}
    </ul>
</li>
