{% load perm_tags %}
{% has_any_perm 'prestation.view_horaire' 'prestation.view_horaireligne' 'prestation.view_prestation' 'prestation.add_prestation' as can_prestation %}
{% if can_prestation %}
<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
        <i class="fa fa-money"></i>
        <span>Gestion des prestations</span>
    </a>
    <ul class="sidebar-submenu">
        {% has_perm 'prestation.view_horaire' as p_horaire %}{% if p_horaire %}<li><a href="{% url 'prestation:horaire_list' %}">Horaires</a></li>{% endif %}
        {% has_perm 'prestation.view_baremeprestation' as p_bareme %}{% if p_bareme %}<li><a href="{% url 'prestation:bareme_list' %}">Barèmes</a></li>{% endif %}
        {% has_perm 'prestation.view_enveloppebudgetaire' as p_enveloppe %}{% if p_enveloppe %}<li><a href="{% url 'prestation:enveloppe_list' %}">Enveloppes budgétaires</a></li>{% endif %}
        {% has_perm 'prestation.view_enveloppebudgetaire' as p_cloture %}{% if p_cloture %}<li><a href="{% url 'prestation:cloture_paie_mensuelle' %}">Clôture de la paie mensuelle</a></li>{% endif %}
        {% has_any_perm 'prestation.view_prestation' 'prestation.add_prestation' as p_prestation %}{% if p_prestation %}<li><a href="{% url 'prestation:prestation_list' %}">Prestations</a></li>{% endif %}
        {% has_any_perm 'prestation.view_prestation' 'prestation.add_prestation' 'prestation.view_horaire' as p_saisie_horaire %}{% if p_saisie_horaire %}<li><a href="{% url 'prestation:prestation_depuis_horaire' %}">Saisie depuis l'horaire</a></li>{% endif %}
        {% has_any_perm 'prestation.view_prestation' 'prestation.add_prestation' as p_saisie_mensuelle %}{% if p_saisie_mensuelle %}<li><a href="{% url 'prestation:prestation_mensuelle_list' %}">Saisie prestation mensuelle</a></li>{% endif %}
        {% has_any_perm 'prestation.view_prestation' 'prestation.add_prestation' as p_calc %}{% if p_calc %}<li><a href="{% url 'prestation:calcul_paie' %}">Calcul de la paie</a></li>{% endif %}
        {% has_any_perm 'prestation.view_prestation' 'prestation.add_prestation' as p_bulletin %}{% if p_bulletin %}<li><a href="{% url 'prestation:bulletin_paie' %}">Bulletin de paie</a></li>{% endif %}
        {% has_any_perm 'prestation.view_horaire' 'prestation.view_prestation' 'prestation.add_prestation' as p_fiche_jour %}{% if p_fiche_jour %}<li><a href="{% url 'prestation:fiche_prestations_journaliere' %}">Prestations journalières</a></li>{% endif %}
        {% has_any_perm 'prestation.view_prestation' 'prestation.add_prestation' as p_etat %}{% if p_etat %}<li><a href="{% url 'prestation:etat_paie_mensuel' %}">État de paie mensuel</a></li>{% endif %}
        {% has_any_perm 'prestation.view_horaire' 'prestation.view_prestation' 'prestation.add_prestation' as p_stats %}{% if p_stats %}<li><a href="{% url 'prestation:statistiques_prestations_enseignement' %}">Statistiques des prestations</a></li>{% endif %}
    </ul>
</li>
{% endif %}
