{% load perm_tags %}
{% has_any_perm 'evaluations.view_session' 'evaluations.view_evaluation' 'evaluations.view_note' 'evaluations.view_typeevaluation' as can_eval %}
{% if can_eval %}
<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
        <i class="fa fa-file-text"></i>
        <span>Évaluations</span>
    </a>
    <ul class="sidebar-submenu">
        {% has_perm 'evaluations.view_session' as p_session %}{% if p_session %}<li><a href="{% url 'evaluations:session_list' %}">Sessions</a></li>{% endif %}
        {% has_perm 'evaluations.view_evaluation' as p_eval %}{% if p_eval %}<li><a href="{% url 'evaluations:evaluation_list' %}">Évaluations</a></li>{% endif %}
        {% has_perm 'evaluations.view_note' as p_note %}{% if p_note %}<li><a href="{% url 'evaluations:note_list' %}">Saisie des notes</a></li>{% endif %}
        {% has_perm 'evaluations.view_typeevaluation' as p_typeeval %}{% if p_typeeval %}<li><a href="{% url 'evaluations:type_evaluation_list' %}">Types d'évaluation</a></li>{% endif %}
    </ul>
</li>
{% endif %}
