{% load perm_tags %}
{% has_any_perm 'deliberations.view_deliberation' 'deliberations.view_parametreslmd' as can_delib %}
{% if can_delib %}
<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
        <i class="fa fa-gavel"></i>
        <span>Délibérations</span>
    </a>
    <ul class="sidebar-submenu">
        {% has_perm 'deliberations.view_deliberation' as p_delib %}{% if p_delib %}<li><a href="{% url 'deliberations:deliberation_list' %}">Délibérations</a></li>{% endif %}
        {% has_perm 'deliberations.view_deliberation' as p_delib %}{% if p_delib %}<li><a href="{% url 'documents:releve_notes_selection' %}">Relevés de notes</a></li>{% endif %}
        {% has_perm 'deliberations.view_deliberation' as p_delib %}{% if p_delib %}<li><a href="{% url 'documents:grille_notes' %}">Grilles de notes</a></li>{% endif %}
        {% has_perm 'deliberations.change_deliberation' as p_delib_admin %}{% if p_delib_admin %}<li><a href="{% url 'deliberations:jury_gestion' %}">Gestion des Membres du Jury</a></li>{% endif %}
        {% has_perm 'deliberations.change_deliberation' as p_delib_admin %}{% if p_delib_admin %}<li><a href="{% url 'deliberations:dette_list' %}">Gestion des dettes</a></li>{% endif %}
        {% has_perm 'deliberations.view_parametreslmd' as p_param %}{% if p_param %}<li><a href="{% url 'deliberations:parametres_lmd_list' %}">Paramètres LMD</a></li>{% endif %}
    </ul>
</li>
{% endif %}
