{% extends "components/ecore_form_base.html" %}
{% load static %}

{% block form_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"><i data-feather="home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'academics:departement_list' %}">Départements</a></li>
<li class="breadcrumb-item f-w-400 active">{{ title }}</li>
{% endblock %}

{% block form_id %}departement-form{% endblock %}

{% block form_extra_notices %}

{% endblock %}

{% block form_before_fields %}

{% endblock %}

{% block form_main_col %}col-lg-8{% endblock %}

{% block form_main %}
<div class="row g-3">{% include "components/ecore_form_field.html" with field=form.faculte col="col-md-6" icon="fa-university" required=True %}</div>
{% include "components/ecore_form_section_open.html" with icon="fa-tag" title="Identification" subtitle="Code et nom de la département" %}
<div class="row g-3">
  {% include "components/ecore_form_field.html" with field=form.code col="col-md-4" icon="fa-hashtag" required=True %}
  {% include "components/ecore_form_field.html" with field=form.nom col="col-md-8" icon="fa-font" required=True %}
</div>
{% include "components/ecore_form_section_close.html" %}
{% include "components/ecore_form_section_open.html" with icon="fa-align-left" title="Description" subtitle="Informations complémentaires" section_class="mb-0" %}
{% include "components/ecore_form_field.html" with field=form.description col="col-12" %}
{% include "components/ecore_form_section_close.html" %}
{% endblock %}

{% block form_actions %}
{% url 'academics:departement_list' as cancel_url %}
{% include "components/form_actions.html" with cancel_url=cancel_url %}
{% endblock %}

{% block form_aside %}
{% include "components/ecore_form_aside_switch.html" with field=form.active title="Département active" hint="Visible sous la faculté parente" %}
{% include "components/ecore_form_aside_tips.html" with tip1="Rattachez le département à la bonne faculté" tip2="Le code doit être unique" tip3="La description est optionnelle" %}
{% endblock %}
{% block form_extra_js %}

{% endblock %}
