<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
        <i class="fa fa-file-pdf-o"></i>
        <span>Documents</span>
    </a>
    <ul class="sidebar-submenu">
        <li><a href="{% url 'documents:releve_notes_selection' %}">Relevés de notes</a></li>
        <li><a href="{% url 'documents:grille_notes' %}">Grilles de notes</a></li>
        <li><a href="{% url 'documents:attestation_list' %}">Attestations</a></li>
        <li><a href="#">Diplômes</a></li>
    </ul>
</li>
